.image-gallery-slide img {
  object-fit: cover;
  width: 100%;
  height: 300px; /* Set desired uniform height */
}

.image-gallery-thumbnail img {
  object-fit: cover;
  height: 100px; /* Adjust for consistent thumbnail size */
  width: 100%; /* Make sure it fills the thumbnail box */
}
